html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}
p {
  font-size: 14px;
}
h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
}
h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}
h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
/* Navbar */
.navbar {
  background: #f1f3ff;
}
.nav-item {
  margin-right: 32px;
}
.nav-link {
  font-style: normal;
  font-size: 14px;
  color: black;
}
.reg {
  text-align: center;
  width: 81px;
  background-color: #5cb85f;
  border-radius: 2px;
  color: white;
  font-size: 14px;
  font-weight: 700;
}
@media (max-width: 777px) {
  .offcanvas {
    width: 180px !important;
  }
}
/* end of navbar */

/* banner */
.banner {
  padding-top: 117px;
  background: #f1f3ff;
}
@media (max-width: 777px) {
  .banner {
    padding-top: 32px;
  }
}
.banner-titles p {
  margin-top: 14px;
  width: 468px;
}
@media (max-width: 777px) {
  .banner-titles p {
    width: fit-content;
  }
}
.rent {
  padding: 8px 12px;
  background: #5cb85f;
  border-radius: 2px;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
.logo-banner img {
  width: 124%;
}
@media (max-width: 777px) {
  .logo-banner img {
    width: 100%;
  }
}
/* end of banner */

/* our service */
.service img {
  margin-top: 104px;
  width: 459px;
  height: 428px;
}
@media (max-width: 777px) {
  .service img {
    width: 100%;
    height: 100%;
    margin-top: 60px;
  }
}
.serv-detail h2 {
  margin-top: 136px;
}
@media (max-width: 777px) {
  .serv-detail h2 {
    margin-top: 24px;
  }
}
.serv-detail p {
  margin-top: 20px;
}
.serv-comp p img {
  padding-right: 22.65px;
}
/* end of our service */

/* why us */
.card-item {
  margin-top: 100px;
}
@media (max-width: 777px) {
  .card-item {
    margin-top: 60px;
  }
}
.text {
  margin-bottom: 40px;
}
.text p {
  margin-top: 14px;
}
.card-text {
  width: 220px;
  height: 60px;
  margin-top: 14px;
}
@media (max-width: 777px) {
  .text {
    text-align: center;
    margin-bottom: 24px;
  }
}
/* end of why us */

/* testimonial */
.text-carou {
  text-align: center;
}
.text-carou p {
  margin-bottom: 45px;
}
.item {
  background-color: #f1f3ff;
  height: 270px;
  width: 619px;
  border-radius: 8px;
}
.content{
  margin-top: 69px;
  margin-left: 80px;
}
.profile img{
  width: 80px !important;
  margin-top: 95px;
  margin-left: 46px;
}
.rate {
  width: 80px;
  height: 16px;
}
.testi-text p{
  margin-top: 8px;
  width: 410px;
  height: 80px;
}
.testi-text h6 {
  font-size: 14px;
  font-weight: 550;
  margin-top: 10px;
}
@media (max-width: 777px) {
  .item {
    width: 328px;
    height: 372px;
  }
  .img-area{
    margin-top: 40px;
  }
  .testi-text p{
    width: 264px;
    height: 120px;
  }
  .profile img{
    margin: auto;
    margin-bottom: 24px;
  }
  .content{
    margin-top: 24px;
    width: 100%;
    margin: auto;
  }
  .rate{
    margin: auto;
    margin-bottom: 24px;
  }
  .testi-text{
    margin-left: 27px;
  }
}
/* end of testimonial */

/* rent banner */
.rent-box {
  background: #0d28a6;
  border-radius: 13px;
  width: 100%;
  text-align: center;
  color: white;
}
@media (max-width: 777px) {
  .rent-box h1 {
    margin-top: 64px;
    font-size: 24px;
    width: 212px;
    margin: auto;
  }
}
@media (max-width: 777px) {
  .rent-box p{
    width: 212px !important;
    margin-bottom: 32px !important;
  }
}
.rent-box h1 {
  padding-top: 64px;
}
.rent-box p {
  width: 468px;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 52px;
}
.rent-btn {
  padding: 8px 12px;
  background: #5cb85f;
  border-radius: 2px;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 64px;
}
/* end of rent banner */

/* FAQ */
/* end of FAQ */

/* footer */
.menu-bar a {
  text-decoration: none;
  color: black;
}
.contact-logo img {
  margin-right: 16px;
  margin-bottom: 16px;
}
/* end of footer */
